<h1>User info</h1>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <%= image_tag 'no_image.jpg' %>

<%= render 'list', books: @books %>

<h1>Books</h1>

<% @books.each do |book| %>
  <%= link_to book.title, books_path(params[:id]) %>
<% end %>



